<launch>
        
    <!-- <node pkg="r3live" type="r3live_LiDAR_front_end" name="r3live_LiDAR_front_end"  output="screen" required="true"/> -->
    <node pkg="colive_backend" type="colive_backend_node" name="colive_backend_node" output="screen" required="true" />
    
    <!-- <arg name="rviz" default="1" />
    <group if="$(arg rviz)">
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find r3live)/../config/rviz/r3live_rviz_config_ouster.rviz" />
    </group> -->
 </launch>
