<launch>
	<arg name="rviz" default="true" />
	<arg name="enable" default="true" />
	
    <!-- <node pkg="r3live" type="r3live_LiDAR_front_end" name="r3live_LiDAR_front_end"  output="screen" required="true"/> -->

	<group if="$(arg enable)">
    <node pkg="mersys_backend" type="mersys_backend_node" name="mersys_backend_node" output="screen" required="true" />
    </group>

	<group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find mersys_backend)/rviz_cfg/loam_livox.rviz" />
	</group>
 </launch>
